.art {
    font-size: 18px;
    padding: 0 40px;
    color: darkblue;
    line-height: 30px;
    border: 1px solid #000;
    margin-bottom: 20px;
}
.flex {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    color: #800000;
    line-height: 30px;
}

.a1, .a2 {
    width: 40%;
}

.art1 {
    font-size: 18px;
    padding: 0 40px;
    color: darkblue;
    line-height: 30px;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.p1_result,
		.p2_result,
		.p3_result,
		.p4_result {
			width: 100%;
			min-height: 350px;
			justify-self: center;
			border: 2px solid gray;
			margin-left: 10px;
			text-align: left;
			padding-left: 10px;
			background-color: #FFFACD;
		}